{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
		<style>
		
		/* To Dropdown navbar dropdown on hover */
.navbar-nav > li:hover > .dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.error_text
{
	color:red;
}

.inner-banner
{
	display:none;
}
</style>
<script>
function mobile_verify(txt_phone){

var mob = /^[1-9]{1}[0-9]{9}$/;
 var valid_mo = mob.test(txt_phone);
  if (!valid_mo) {
    return "0";
  } else
    return "1";
}
function email_verify(emailAddress){

 var emailRegex = new RegExp(/^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$/i);
 var valid = emailRegex.test(emailAddress);
 //alert(emailAddress);
  if (!valid) {
    return "0";
  } else
    return "1";
}
</script>
        <!-- Start Banner -->
        <div class="inner-banner blog news-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="content">
						                         <h5></h5>
						                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner --> 

        <!-- Start Terms -->
		         <!-- End Google Map --> 

		
		
        <section class="padding-lg news-wrapper">
        	
            <div class="container"  style="background: #fff;padding: 20px;">
                <div class="row">
				
                    <div class="col-sm-12 pagecon">
					
                                                <h2>{{ subcoursename }}</h2>
												<br/>
                        <p> <p>Demo Classes&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        	<span style="color:#3399ff;">At Your Convenience </span><br />
        	
Training Methodology&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; <span style="color:#3399ff;">Theory classes, Lab hands-on, weekly mock test </span><br />
Course&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; <span style="color:#3399ff;">Duration 48 hours </span><br />
Class Availability&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color:#3399ff;">Weekdays &amp; Weekends</span></p>

<p><br />

<p>&nbsp;</p>
{% for i in coursecontent %}
<p><strong>{{ i.heading }}</strong></p>
<ul>{{ i.content|linebreaks }}</ul>
<br>
{% endfor %}
   </div>

                </div>
               
   
            </div>
            
        </section>        <!-- End Terms --> 
{% endblock %}